
.top-nav {
	margin: 0 auto;
	background-color: green;
	width: 1000px;
	height: 60px;
	text-align: center;
	line-height: 50px;
	margin-bottom: 40px;
	font-size: x-large;
	cursor: pointer;
}
.top-nav button {
	background-color: green;
	margin-top: 3px;
}

.slideshow {
	display: block;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	
}

#myCarousel {
	
}

.content {margin-top: 150px;}
.hunt {width: 1000px;height: 30px;display: block;margin: 0 auto;}
.hunt input {color: darkgray;background-color: green;}
.news {width: 1000px;height: 100px;display: block;margin: 0 auto;background-color: green;margin-bottom: 30px;}
.news p {color: black;}
